<!DOCTYPE html> 
<html lang="en"><head> 
        <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
        {% end %}
        <link href="{{ static_url("bootstrap/css/bootstrap.css") }}" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .sidebar-nav {
                padding: 9px 0;
            }
        </style>
        <link href="{{ static_url("bootstrap/css/bootstrap-responsive.css") }}" rel="stylesheet" />
        {% block styles %}
        {% end %}

        <script src="{{ static_url("bootstrap/js/jquery.min.js") }}"></script>
        <script src="{{ static_url("bootstrap/js/bootstrap.min.js") }}"></script>
        <script src="{{ static_url("js/bootbox.min.js") }}"></script>
        {% block scripts %}{% end %}

        <!-- Le styles -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head> 

    <body> 
    {% include navbar.html %}

    <div class="container">
        {% block contents %} {%end%}
    </div><!--/.container-->

    </body>
</html>
