
<script src="{{ static_url("js/jquery.validate.js") }}"></script>
<script src="{{ static_url("js/pv/navbar.js") }}"></script>

<div class="modal hide fade" style="display: block;" id="subscription_modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>PV Subscription</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" action="{{ reverse_url("subscriptions") }}" 
              method="post" id="subscription-form">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" >PV</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" name="pvname">
                        <p class="help-block">The PV to subscribe to</p>
                    </div>
                </div>

                <div class="control-group" id="mode">
                    <label class="control-label" for="mode">Mode</label>
                    <div class="controls">
                        <select class="span2" id="mode-selector" name="modename">
                            <option id="">Select mode...</option>
                            <option id="monitor">Monitor</option>
                            <option id="scan">Scan</option>
                        </select>
                    </div>
                </div>

                <div class="control-group hide" id="monitor-params">
                    <label class="control-label">Parameters</label>
                    <div class="controls">
                        <p>
                        <input type="text" class="input-mini" name="delta">
                        <span class="help-inline">Delta</span>
                        </p>
                        
                        <p>
                        <div class="input-append">
                            <input type="text" class="input-mini" name="max_freq"><span class="add-on">Hz</span>
                        </div>
                        <span class="help-inline">Max. frequency</span>
                        </p>
                    </div>
                </div>

                <div class="control-group hide" id="scan-params">
                    <label class="control-label">Parameters</label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" class="input-mini" name="period"><span class="add-on">s.</span>
                        </div>
                        <span class="help-inline">Period</span>
                    </div>
                </div>
            </fieldset>
           {% raw xsrf_form_html() %}
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" id="subscription-submit" class="btn btn-primary" >Do it!</button>
    </div>
</div>



<div class="modal hide fade" id="config_modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Upload Configuration</h3>
    </div>
    <div class="modal-body"> 
        <form enctype="multipart/form-data" id="config-form"
              action="{{ reverse_url("config") }}" method="post">
              <label>Only upload files with the proper formatting, as previously 
                  returned by the <a href="{{ reverse_url('config') }}">Download</a> link</label>
           <input class="input-file" type="file" name="configfile"/>
           {% raw xsrf_form_html() %}
        </form>
    </div>
   <div class="modal-footer">
       <button type="submit" id="config-submit" class="btn btn-primary">Do it!</button>
   </div>
</div>



<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">EPICS Cassandra Archiver</a>
      <div class="nav-collapse">
          <ul class="nav">
              <li><a href="{{ reverse_url('root') }}">Home</a></li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li class="nav-header">Subscription</li>
                      <li><a data-toggle="modal" href="#subscription_modal">Create</a></li>
                      <li><a id="unsubscribe-all" href="#">Remove All</a></li>
                      <li><a href="#foo">Modify</a></li>
                  </ul>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuration<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li class="nav-header">Configuration</li>
                      <li><a href="{{ reverse_url('config') }}">Download</a></li>
                      <li><a data-toggle="modal" href="#config_modal">Upload</a></li>
                  </ul>
             </li>
          </ul>

          <ul class="nav pull-right">
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="divider-vertical"></li>
              <li>
                  <form class="navbar-search pull-right" action="/search" method="get">
                      <input type="text" class="search-query span2" placeholder="Search">
                  </form>
              </li>
          </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
