{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(setTimeout(
                function() {
                    window.location.replace( "{{ reverse_url("pv", pvname) }}" );
                }, 1000));
</script>
{% end %}

{% block contents %}
<div class="row">
    <div class="alert alert-success span4 offset4">
        <h1><strong>Success!</strong></h1>
        <p><big>Subscription to {{ pvname }} created.</big></p>
    </div>
</div>
<div class="row">
    <div class="alert alert-information span4 offset4">
        Redirecting to <a href="{{ reverse_url("pv", pvname) }}">the PV's subscription page</a>...
     </div>
</div>

{% end %}
